@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
    margin:0;
    padding: 0;
}

/*HOME*/

body {
    background-color: #FEFCF6;
    font-family: 'Quicksand', sans-serif;
    min-height: 100%;
}


/*BARRA RESPONSIVE*/

.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    margin: 10px;
    
  }

  
  .topnav a:hover {
    font-weight: bold;
  }
  
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav a:hover{
        background-color: #635F51 ;
        color: #FEFCF6; 
    }
  }

/*termina BARRA RESPONSIVE*/

#ppal{
    position: relative;
}

#arq{
    font-family: 'Short Stack', cursive;
    color: #635F51;
    font-size: 4rem;
    font-weight: 400;
    margin: 40px;
    margin-left: 15%;
    position: relative;

}

#contenedor-imagen1{
    max-width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

#imagen1 {
    max-width: 100%;
    height: auto;
    position: absolute;
    transform: rotate(15deg);
    margin-left: 230px;
    top: 20;
    margin-bottom: 200px;
    
}

#contenido-cara{
    margin-top: 70px;
}

#caracteristicas {
    width: 100%;
    height: 830px;
    background-color: #635F51;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contenedor-columna {
    display: flex;
}

.columna {
    width:100%;
    text-align: center;
    margin-top: 50px;
}

.vector{
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    color: #FEFCF6;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #FEFCF6;
}

#delicias{
    position:relative;
}

h4{
    font-family: 'Short Stack', cursive;
    font-size: 50px;
    color:#A78A82;
    position: absolute;
    z-index: 1;
    margin: 50px;
}

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin: 20px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color:#635F51;
  opacity: 70%;
  border-radius: 30px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: none;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#cuadrados {
   display: flex;
   flex-wrap: wrap;
   height: 700px;
    
}

.izquierda{
    background-color:#FEFCF6;
    color: #635F51;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}

.derecha {
    background-color: #A78A82;
    color: #FEFCF6;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}

.contenedor-cuadrados{
    display: flex;
    flex-direction: column;
}

h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-align: center;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    width: 80%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 30px;
    border: 0px;
    cursor: pointer;
   }

.boton:hover{
    background-color: #3D4652;
    color: #FEFCF6;
}
   
.izquierda button{
       background-color: #635F51;
       color: #FEFCF6;
   }

.derecha button{
    background-color: #FEFCF6;
    color: #A78A82;
    
}

footer{
   width: 100%;
   display: flex;
   justify-content: space-between;
   height: 15vh;
   background-color: #3D4652;
   color: #FEFCF6;
   font-family: 'Quicksand', sans-serif;

}

.contenido-footer{
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: center;
    white-space: nowrap;
}

.iconos{
    max-width: 50px;
    max-height: 50px;
}

/*MENU*/ 
#contenedor-menu{
    width: 100%;
}

.titulos{
    text-align: center;
}

h8{
    font-family: 'Short Stack', cursive;
    font-size: 60px;
    color:#A78A82;
}


#contenedor-col{
    display: flex;
}

.col-i, .col-d{
    width: 50%;
}

.tarjetas{
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.contenedor-img-tarjetas{
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    
}

.img-tarjetas{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15%;
}

.texto-tarjetas{
    margin-left:20px; 
    gap:0;
    height: 150px;
}

.texto-tarjetas p{
    font-size: 24px;
    color: #635F51;
    margin-top: 0px;
    margin-bottom: 10px;
}


.texto-tarjetas .boton{
    font-size: 15px;
    border: 2px solid #635F51;
    color: #635F51;
    background-color: #FEFCF6;
    text-decoration: none;
}



.tarjetas .boton:hover{
    background-color:#635F51;
    color: #FEFCF6;
}

.col-d .tarjetas{
    display: flex;
    align-items: center;
    justify-content: left;
}

/*NOSOTROS*/

.div2 {
    display:flex;
    height: 88vh;
}

.mitad1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mitad2 { 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h6{
    font-family: 'Short Stack', cursive;
    font-size: 50px;
    color:#635F51;
    font-weight: 400; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.mitad2 p{
    text-align: center;
}

#ilustracion {
    width: 70%;
    height: auto;
}

.div3 {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    margin: 100px;
}

.contenido-div3 {
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
}

.contenido-div3 img{
    width: 100px;
    margin-top: -50px;
}

h7 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #3D4652;
}

.contenido-div3 p {
    font-weight: 300;
    font-size: 20px;
    
}

.cajita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


/*VOS*/

#contenedor-grande{
    display: flex;
}

.contenedor-chico{
    width: 50%;
    margin-left: 90px;
}

.hola h6{
    font-size: 96px;
}

.silla{
    display: flex;
    justify-content: center;
}

#img-silla{
    max-width: 75%;
    height: auto;
}

.puntos{
    display: flex;
    justify-content: left;
}

#img-puntos{
    max-width: 50%;
    height: auto; 
}

.datos h5{
    margin-bottom: 30px;
    margin-top: 40px;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: start;
    color:#3D4652;
    margin-left: 40px;
}

.dato{
    width: 100%;
    margin-top: 10px;
    
}

.dato p{
    margin: 0;
    font-size: 24px;
}

.pregunta{
    font-weight: lighter;
}

.respuesta{
    font-weight: 400;
}

.datos button{
    border: 2px solid #3D4652;
    color: #3D4652;
    background-color: #FEFCF6;
    margin-top: 60px;
    margin-bottom: 40px;
}

.datos button:hover{
    background-color: #3D4652;
}


@media screen and (max-width: 768px) {

    /*HOME RESPONSIVE*/

    #arq{
        font-size: 40px;
        
    }


    #ppal{
        height: 55vh;
    }

    #caracteristicas{
        height: 150vh;
    }

    h2{
        font-size: 25px;
        margin: 30px;
        
    }

    h3{
        font-size: 20px;
    }

    .contenedor-columna{
        display: flex;
        flex-wrap: wrap;
    }

    .columna{
        width: 50%;
    }

    h4{
        font-size: 30px;
        margin: 30px;
    }

    .izquierda, .derecha{
        width: 100%;
    }

    .contenedor-cuadrados h5{
        font-size: 21px;
    }

    .contenedor-cuadrados p{
        font-size: 18px;
    }

    .boton{
        font-size: 16px;
        border-radius: 25px;
        padding: 10px 30px;
        border: 0px;
       }

    footer{
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center; 
    }

    .contenido-footer{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    /*MENU RESPONSIVE*/
    #contenedor-col{
        display: flex;
        flex-direction: column;
    }

    .col-i, .col-d{
        width: 100%;
        justify-content: center;
    }

    .col-d{
        margin-top: -70px;
    }

    .col-d .tarjetas{
        justify-content: center;
    }

    .col-i .tarjetas{
        justify-content: center;
    }


    /*NOSOTROS RESPONSIVE*/ 

    .div2{
        flex-direction: column-reverse;
    }

    .mitad2{
        width: 100%;
        height: 70vh;
    }

    h6{
        font-size: 35px;

    }

    .mitad2 p{
        font-size: 20px;
    }

    .mitad1{
        width: 100%;
        height: 300px;
        text-align: center;
    }

    .div3{
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-content: center;
        margin-top: 100px;
        margin-bottom: -20px;
    }

    .contenido-div3{
        align-content: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .cajita{
        width: 400px;
    }

    /*VOS RESPONSIVE*/ 
    
    #contenedor-grande{
        display: flex;
        flex-direction: column;
    }

    .contenedor-chico{
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }

    .hola h6{
        font-size: 50px;
        margin-bottom: 20px;
        margin-left: -110px;
    }

    .silla{
        display: none;
    }

    .puntos{
        justify-content: center;
    }

    .datos h5{
        margin-bottom: 0;
    }

    .dato p{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .datos button{
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 250px;
    }
}



@media screen and (max-width: 1300px) {

    #contenedor-imagen1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #imagen1{
        max-width: 70%;
        margin-top: 30px;
        margin-right: 190px;
    }

}

@media screen and (min-width: 480px){
    #imagen1{
        max-width: 70%;
        margin-top: 100px;
        margin-right: 190px;
    }

}




